@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(
    to bottom,
    #1c375f,
    #123c74,
    #044088,
    #00449d,
    #0047b1
  );
  height: 100vh;
}
